.company-contact {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    padding-top: 3rem;
    gap: 2rem;
    padding-bottom: 8rem;
}

.company-contact-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;

    border: 1px solid black;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.18); 
    border: 1px solid rgb(219, 211, 211);

}

.company-contact-card i {
 margin-top: 1.5rem;
 border: 1px solid rgb(219, 211, 211);
 padding: 10px 20px 10px 20px;

 border-radius: 50rem;
 background-color: hsl(23.95deg 95% 52.94%);
 box-shadow: 0 4px 10px hsl(23.95deg 95% 52.94%);
 color: rgb(255, 255, 255);

 font-weight: 900;
}

.company-contact-card h1 {
   font-size: 1rem;
   font-weight: 600; 
   margin-bottom: 1rem;
}

.company-contact-card h2 {
   font-size: 0.937rem;
   font-weight: 400;
   margin-top: 0;
   margin-bottom: 0.5rem;
}

.company-contact-card p {
    font-size: 0.837rem;
    text-align: center;
    color: rgb(139, 127, 127);
}

.contact-section {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    padding: 20px;
    background-color: rgb(247, 245, 245);
    padding-top: 4rem;
    gap: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
 
  width: 100%;

  background-color: white;
  border: 1px solid rgb(216, 210, 210);
  border-radius: 0.5rem;
}

.form-title {
    margin-left: 1rem;
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 0;
}

.form-title i {
    margin-right: 0.5rem;
    color: hsl(23.95deg 95% 52.94%);
    font-weight: 500;
    margin-bottom: 0;
}

.form-description {
    font-size: 0.937rem;
    margin-left: 1rem;
    margin-top: 0.8rem;
    color: rgb(139, 127, 127);
    margin-bottom: 2rem;
}

.contact-form label {
    margin-left: 1rem;
    font-size: 0.937rem;
    font-weight: 500;
    margin-bottom: 0;
}

.contact-form input {
    margin-left: 1.4rem;
    margin-top: 0;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(181, 173, 173);
    width: 85%;
}

.contact-form input:focus {
    outline: none;
}

textarea {
    margin-left: 1.4rem;
    margin-top: 0;
    padding: 10px;
    height: 40vh;
    border-radius: 10px;
    border: 1px solid rgb(181, 173, 173);
    width: 85%;
}

.contact-form button {
    margin-left: 1.4rem;
    width: 90%;
    padding: 10px 20px 10px 20px;

    background-color: hsl(23.95deg 95% 52.94%);
    color: white;

    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px hsl(24, 100%, 68%);
}

.googleMap {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid rgb(209, 200, 200);
    width: 100%;
    padding-bottom: 2rem;
     background-color:  #F0F2F4;
     border-radius: 1rem;
}

.googleMap i {
    margin-top: 1rem;
    color: hsl(23.95deg 95% 52.94%);
    margin-bottom: 0;

   
}

.googleMap h1 {
    font-size: 1.3rem;
    margin-top: 1rem;
   margin-bottom: 1rem;
}

.googleMap p {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 0.937rem;
    color: rgb(161, 150, 150);
}

.direction-btn {
    margin-top: 1rem;
    padding: 10px 15px 10px 15px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    text-decoration: none;
    color: black;
}


.cta-content button {
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 3rem;
}

/*Responsive Design*/
@media (min-width: 480px) {
    
}

/* Large phones and small tablets */
@media (min-width: 600px) { 
     
}

/* Tablets portrait */
@media (min-width: 768px) {
    .company-contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .contact-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/* Tablets landscape and small laptops */
@media (min-width: 992px) {
    .company-contact {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    
 
}

/* Desktops */
@media (min-width: 1200px) {
  
}

/* Large desktops */
@media (min-width: 1440px) {
  
}

/* Extra large screens */
@media (min-width: 1920px) {
  
}



